@model zorgapp.Models.Doctor
<h2>Link</h2>
<p>Here you can link doctors to patients</p>


<form asp-action="SubmitLink" method="post">
    Patient id:<br>
  <input type="string" required name = patientid id="patientid"><br>
    Doctor id:<br>
  <input type="string" required name = doctorid id="doctorid"><br>
  <input type="submit" value = "Submit" id="submit">
</form><br>

<h4>@ViewBag.message</h4>=