<h2>Profile</h2>
<p>This is your admin profile page</p>

<input type="button" 
    value="Link"
    onclick="location.href='@Url.Action("Link", "Admin")'" /><br><br>

<input type="button"
    value="List patients"
    onclick="location.href='@Url.Action("PatientList","Patient")'"/><br><br>

<input type="button"
    value="List doctors"
    onclick="location.href='@Url.Action("DoctorList","Doctor")'"/><br><br>
