<!DOCTYPE html>
@model zorgapp.Models.Medicine
<html>
<head>
<title>Add medicine</title>
	<link rel="stylesheet" type="text/css" herf="style.css"
</head>
<body>
<div class="Midicines">
	<h2>Add medicines</h2>
	<form>
		<input type="string" name="name" placeholder="Name medicine">
		<input type="datetime" name="start_date" placeholder="Date of start">
		<input type="datetime" name="end_date" placeholder="Date of end">
		<input type="int" name="amount" placeholder="Amount per day">
		<input type="int" name="patient_id" placeholder="ID of the patient">
		<input type="float" name="mg" placeholder="Mg">
		<input type="submit" value="Add medicine" id="submit" asp-controller="Doctor" asp-action="AddMedicines">

	</form>
</div>
</body>
</html>
