<!DOCTYPE html>
@model zorgapp.ViewModels.NewAppointmentViewModel


<h2>Create a appointment</h2>
<p>Enter all fields and press submit</p>

<form method="post">
	
	Case Id:
	<select name="caseid">
		@foreach (Case s in Model.Cases)
		{
		<option value="@s.Id">@s.Name</option>
		}
	</select>
	Info:
	<input type="string" required name="info" id="info">
	<input type="datetime-local" required name="date" id="date" />
		    
	@*<input type="submit" value="Submit" id="submit" asp-controller="Doctor" asp-action="CreateAppointment">*@
	<input type="submit" value=" Make new appointment" asp-controller="Doctor" asp-action="CreateAppointment">
	@*<input type="submit" value="My appointments" asp-controller="Doctor" asp-action="AppointmetList">*@
	
</form>


</html>
