@model zorgapp.Models.Doctor
<!DOCTYPE html>
	</svg>
		
			  x="45" y="80">ZorgApp</text>
		<text fill="#fff" font-size="26" font-family="Verdana"
		<ellipse cx="100" cy="70" rx="85" ry="55" fill="url(#grad1)" />
		</defs>
			</linearGradient>
					  style="stop-color:rgb(50,20,80);stop-opacity:1" />
				<stop offset="100%"
					  style="stop-color:rgb(200,50,90);stop-opacity:1" />
				<stop offset="0%"
			<linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
	<svg height="130" width="500">
		<defs>

<h2>Create a doctor account</h2>
<p>Enter all fields and press submit</p>

<form method="post">
    First name:<br>
    <input type="string" required name=firstname id="firstname"><br>
    Last name:<br>
    <input type="string" required name=lastname id="lastname"><br>
    Email:<br>
    <input type="email" required name=email id="email"><br>
    <font color="red">@ViewBag.emptyfield1</font><br>
    Phone number:<br>
    <input type="int" required name=phonenumber id="phonenumber"><br>
    <font color="red">@ViewBag.emptyfield2</font><br>
    Specialism:<br>
    <input type="string" required name=specialism id="specialism"><br>
    Username:<br>
    <input type="string" required name=username id="username"><br>
    <font color="red">@ViewBag.emptyfield3</font><br>
    Password:<br>
    <input type="password" minlength="8" required name=password id="password"> <br><br>
    <input type="submit" value="Submit" id="submit" asp-controller="Doctor" asp-action="SubmitDoctorAccount">
</form>




</html>
