@model zorgapp.ViewModels.DoctorLinkViewModel
<h2>Link</h2>
<p>Here you can link doctors to patients</p>


<form asp-action="SubmitLink" method="post">
    Patient id:<br>
    <input type="string" required name=patientid id="patientid"><br>
    Patient Username:<br>
    <select name="patientUsername">
        @foreach (Patient p in Model.Patients)
        {
            <option value="@p.UserName">@p.UserName</option>
        }
    </select><br>
    Doctor id:<br>
    <input type="string" required name=doctorid id="doctorid"><br>
    Doctor username:<br>
    <input type="string" required name=doctorUsername id="doctorUsername"><br>
    <input type="submit" value="Submit" id="submit">
</form>
<br>

<h4>@ViewBag.message</h4>