


@{
    ViewData["Title"] = "Home Page";
}
    <div>
        <h2>Welcome to ZorgApp</h2>
        <!-- <script scr="@Url.Content("~/VIews/Home/Index.js")"></script> -->
        <ul>
            <li>Overzicht van al uw medische gegevens</li>
            <li>Snel contact met uw huisarts</li>
            <li>Moeiteloos afspraken maken</li>
        </ul>

    </div>