@model zorgapp.Models.Patient;

@{
    ViewData["Title"] = "CreateAccount";
}
<h2>Create Account</h2>
<p>Hello, just testing here (:</p>

<div>
  <Button variant="primary" size="lg" block>
    Create Account
  </Button>
  <Button variant="secondary" size="lg" block>
    Hello
  </Button>
</div>