<font color="Red"><h2>This is the only time you can access this code!<br>If you don't copy or send it now you will have to generate a new code.</h2></font>
<h3>Code: </h3>@ViewBag.CodeGenerated
<h3>@ViewBag.UsesMessage</h3>

