@model zorgapp.Models.Patient
<!DOCTYPE html>
@{
    ViewData["Title"] = "MessageDisplay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #text {
        width: 100px;
        height: 40px;
        display: inline-block;
        margin-right: 300px;
    }

    #message {
        margin-left: 20px;
        margin-right: 50%;
    }

    #button {
        position: absolute;
        right: 200px;
        bottom: 55%;
    }
</style>
<h2>MessageDisplay</h2>

<h3>Subject</h3>

<div>
    <p id="text">From:</p>
    <p id="text">When</p>
    <p id="message">
        Problem solved :) Here, in this example, you can see how the button remains in the center of the page even if you re size the browser window.As always , you can tweak the left and top offsets to get the desired results. Here's the code.

    </p>
    <input type="button" value="Reply" id="button">
</div>

