@model IEnumerable<zorgapp.Models.Message>
<!DOCTYPE html>
@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inbox</h2>
<class ="container">
    <button onclick="window.location = '../Doctor/Message';">New Message</button>
</class> <br /> <br />
<class ="container">
    <button onclick="window.location = '../Doctor/Inbox';">Recieved Messages</button>
</class>
<class ="container">
    <button onclick="window.location = '../Doctor/SentMessages';">Sent Messages</button>
</class> <br />
<div>

    <style style="tablestyle">
        .hoverTable {
            width: 100%;
            border-collapse: collapse;
        }

            .hoverTable td {
                padding: 9px;
                border: #ffffff 0px solid;
            }

            .hoverTable tr {
                background: #ffffff;
            }

            .hoverTable th {
                background: #ffffff;
            }

            .hoverTable tr:hover {
                background-color: #cdb9b9;
            }
    </style>



    <table class="table">
        <thead>
            <tr>
                <th>
                    Sent to:
                </th>
                <th>
                    Subject
                </th>
                <th>
                    Message
                </th>
                <th>
                    Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reciever)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>